<%= image_tag @product.photo.url(:small) %>

<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @product.description %>
</p>

<p>
  <b>Sale:</b>
  <%=h @product.sale %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
